body {
  background-color: #e6e6fa;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
}

.task-card {
  list-style: none;
  width: calc((100% - 60px) / 3);
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  background: #fff;
  border: 1px solid #eee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.task-card .js-magic-btn-02,
.task-card .js-magic-btn-03 {
  margin: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  display: inline-block;
}

button {
  border-radius: 4px;
  padding: 6px 10px;
  border: 1px solid transparent;
  display: inline-block;
}
#gallery {
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
p,
h2 {
  margin: 0;
  padding: 10px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
  /* margin: 0; */
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
